.block-center {text-align:center;height: 5em; }
.block-center a {text-decoration:none;width: 100%;height: 100% ;}
.block-center a img {width: 70%;height: 70%}
.block-center a div {font-size:70%;}

h1 em {color:red;}
