.ProLisA{ text-align:center;}


.ui-navbar-custom .ui-btn .ui-btn-inner{
font-size:12px!important;
font-family:"ºÚÌå"!important;
font-weight:100!important;
padding-top:40px!important;
padding-bottom:2px!important;
}

.ui-navbar-custom .ui-btn .ui-icon{
width:33px;!important;
height:32px!important;
margin-left:-16px!important;
box-shadow:none!important;
-moz-box-shadow:none!important;
-webkit-box-shadow:none!important;
-webkit-border-radius:none!important;
border-radius:0!important;
}


.y_menu .ui-icon{background:url(icon.png) 0 0 no-repeat; }
#y_home .ui-icon{background:url(icon.png) -33px 0 no-repeat;}
#y_traffic .ui-icon{background:url(icon.png) -66px 0 no-repeat;}
#y_product .ui-icon{background:url(icon.png) -99px 0 no-repeat;}
#y_more .ui-icon{background:url(icon.png) -132px 0 no-repeat;}


.button-special span:first-child{padding: .10em 55px !important;}

.ui-navbar .ui-btn-text { font-size: 3em; }
