.ProLisA{ text-align:center;}


.ui-navbar-custom .ui-btn .ui-btn-inner{
font-size:12px!important;
font-family:"ºÚÌå"!important;
font-weight:100!important;
padding-top:40px!important;
padding-bottom:2px!important;
}

.ui-navbar-custom .ui-btn .ui-icon{
width:33px;!important;
height:32px!important;
margin-left:-16px!important;
box-shadow:none!important;
-moz-box-shadow:none!important;
-webkit-box-shadow:none!important;
-webkit-border-radius:none!important;
border-radius:0!important;
}




.button-special span:first-child{padding: .10em 55px !important;}

.ui-navbar .ui-btn-text { font-size: 3em; }

table{border-collapse:collapse;border-spacing:0;border-left:1px solid #888;border-top:1px solid #888;background:#efefef;}
th,td{border-right:1px solid #888;border-bottom:1px solid #888;padding:5px 15px;}
th{font-weight:bold;background:#ccc;}
